[Unit]
Description=SYN Shop membership system
After=network.target

[Service]
Type=simple
User=membership
Environment="ENCRYPTION_KEY=CHANGEME"
WorkingDirectory=/home/membership/membership.synshop.org
ExecStart=/home/membership/membership.synshop.org/venv/bin/gunicorn --bind localhost:3000 --log-file /var/log/membership.log --pid /tmp/gunicorn-membership.pid server:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target


# Readme:
#
#### Encrypted values
#
# Please note that all of the properties starting with `ENCRYPTED_` are encrypted.
# When the application starts up, it will prompt you for a single decryption password.
# This is the same password that you will use to encrypt the properties using the cli tool `./crypto/encrypt` and `./crypto/decrypt`.
#
# In order for the decryption to work, you need to use the same password to encrypt
# all of the 6 values. Here's an example of encrypting the string `foo` with the password of also `foo`:
#
#    python3 ./crypto/encrypt
#    Please enter the encryption key:
#    Please enter the plaintext you wish to encrypt:
#    Encrypted Value: aSy9t6N2sxEDN+WzPyXKVA==
#
# So, if you wanted `foo` to be the value for the `ENCRYPTED_DATABASE_PASSWORD` you would define it like this in `config.py`:
#
#    ENCRYPTED_DATABASE_PASSWORD = 'aSy9t6N2sxEDN+WzPyXKVA=='
#
# If you need to decrypt, it's the same process, but in reverse:
#
#    python3 ./crypto/decrypt
#    Please enter the decryption key:
#    Please enter the ciphertext you wish to decrypt:
#    Plaintext Value: foo
#
# Again, you need to use the same password for each of the 6 encrypted strings in your config file.