<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SYN Shop Membership Management</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script> 
  </head>

  <body class="layout--splash">
    <nav class="skip-links">
  <ul>
    <li><a href="#site-nav" class="screen-reader-shortcut">Skip to primary navigation</a></li>
    <li><a href="#main" class="screen-reader-shortcut">Skip to content</a></li>
    <li><a href="#footer" class="screen-reader-shortcut">Skip to footer</a></li>
  </ul>
</nav>

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        
          <a class="site-logo" href="/"><img src="{{ url_for('static', filename='images/logo_textless.png') }}" alt="SYN Shop"></a>
        
        <a class="site-title" href="/">
          SYN Shop
          <span class="site-subtitle">The Las Vegas Hackerspace</span>
        </a>
        <ul class="visible-links"><li class="masthead__menu-item">
              <a href="/">Home</a>
            </li><li class="masthead__menu-item">
              <a href="/about/">About</a>
            </li><li class="masthead__menu-item">
              <a href="/hours/">Hours</a>
            </li><li class="masthead__menu-item">
              <a href="/equipment/">Equipment</a>
            </li><li class="masthead__menu-item">
              <a href="/events/">Events</a>
            </li><li class="masthead__menu-item">
              <a href="/contact/">Contact</a>
            </li>
          </ul>
        
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<div class="initial-content">

  <div class="page__hero--overlay" style="background-color: #5e616c; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/header_synshop.png');">
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">Shop Membership Management</h1>
    </div>
  </div>

  <div id="main" role="main">
    <div class="page__inner-wrap">
    <section class="page__content e-content" itemprop="text">

      <h1 id="new-members">New Members</h1>
      <p>
        To use any of the equipment at SYN Shop, you'll need to sign up for at least a monthly 
        membership ($50, which you can cancel at any time) and sign a 
        <a href="https://synshop.org/assets/pdf/SYN-Shop-Liability-Waiver-Members.pdf">liability waiver</a>.  
        Once you create an account, you'll be able to choose a subscription plan that best suits your needs.</p>

      <p>Please <a href="https://membership.synshop.net/signup">create an account</a> (you'll need to verify your email) to get started.</p>

      <h1 id="existing-members">Existing Members</h1>
      <p>If you are an existing member, you <a href="https://membership.synshop.net/login">can make changes to your account here</a>.</p>

    </div>
  </div>
</div>

</body>
</html>